.gradle
.idea
.kotlin
gradle
build.gradle.kts
build
gradle.properties
gradlew
gradlew.bat
settings.gradle.kts
local.properties
app/src/main/res/*
!app/src/main/res/layout
app/src/main/java/com/example/remotewinery/ui
app/src/main/java/com/example/remotewinery/Activity/ui
app/src/test
app/src/androidTest
proguard-rules.pro